* {
    font-family: 'Montserrat', sans-serif;
    color: #533738;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

/*Navigation bar */

nav{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_main li {
    display: inline;
    padding: 22.25px;

    font-size: 16px;
    line-height: 20px;
}

.nav_title {
    margin-left: 125px;
    display:flex;
    align-items: center;

    font-size: 16px;
    line-height: 20px;
}

.nav_number{
    margin-right: 116px;

    font-size: 16px;
    line-height: 20px;
}

/*Navigation bar */

/*Header */

header{
    margin: 0 auto;
    min-height: 810px;
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header_title h1{
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;

    max-width: 534px;

    margin-left: 185px;
    margin-top: 152px;
}

.header_subtitle {
    max-width: 408px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 400;

    margin-left: 185px;
    margin-top: 24px;
}

.header_button {
    max-width: 310px;

    margin-left: 183px;
    margin-top: 21px;
}

.inside_header_button{
    padding-top: 25px;
    padding-left: 68px;
    padding-right: 68px;
    padding-bottom:25px;

    background: #CC8B86;

    border: 0px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

/*Header */

/*About us */


.about {
    background: #E5E5E5;
}

.title_about {
    position: relative;
    text-align: center;

    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase
}

.description_about {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.img_description_about {
    margin-left: 184px;
}

.description_about {
    max-width: 528px;
    max-height: 330px;

    margin-left: 62px;
    
}

.img_and_description{
    display:flex;
}

/*About us */


